<a href="https://colab.research.google.com/github/bortoliotavio/python/blob/master/gerador_de_inserts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
lista_de_nomes = ['Maria','Leonor','Matilde','Beatriz','Carolina','Mariana','Ana','Sofia','Francisca','Inês']

In [0]:
def cria_inserts(tabela,atributos,quantidade,lista_de_nomes):

  
 

  inserts = list()
  for i in range(0,quantidade):
    cpf = "%1d%1d%1d.%1d%1d%1d.%1d%1d%1d-%1d%1d" % (i,i,i,i,i,i,i,i,i,i,i)
    valores = [i,lista_de_nomes[i],cpf, lista_de_nomes[i].lower()+'@uvv.br']
    #insert = "INSERT INTO %s (%s) VALUES (%s)" % (tabela,atributos,valores)
    inserts.append({'id':i,'cpf':cpf,'nome':lista_de_nomes[i],'email':lista_de_nomes[i].lower()+'@uvv.br'})

  df_inserts = pd.DataFrame(columns=atributos, data=inserts)

  return df_inserts

In [0]:
inserts_cliente = cria_inserts('cliente',['id','nome','cpf','email'],10,lista_de_nomes)

display(inserts_cliente)

   id       nome             cpf             email
0   0      Maria  000.000.000-00      maria@uvv.br
1   1     Leonor  111.111.111-11     leonor@uvv.br
2   2    Matilde  222.222.222-22    matilde@uvv.br
3   3    Beatriz  333.333.333-33    beatriz@uvv.br
4   4   Carolina  444.444.444-44   carolina@uvv.br
5   5    Mariana  555.555.555-55    mariana@uvv.br
6   6        Ana  666.666.666-66        ana@uvv.br
7   7      Sofia  777.777.777-77      sofia@uvv.br
8   8  Francisca  888.888.888-88  francisca@uvv.br
9   9       Inês  999.999.999-99       inês@uvv.br